<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<h1>SOMATRA</h1>

<div id="tabs" class="main-content">
  <ul>
  <% @headers.each_with_index do |header, i| %>
    <li><a href="#<%= @methods[i] %>"><%= header %></a></li>
  <% end %>
  </ul>
  <% @methods.each do |method| %>
    <div id="<%= method %>">
      <p><%= render "graphs", blood_name: method, blood_range: @ranges[method] %></p>
    </div>
  <% end %>
</div>

<article>
  <h1>Watch out for these!</h1>
  
    <% @dangerous_blood_tests_by_date.each_pair do |date, results| %>
      <% results.each_pair do |name, result| %>
        <p><%= "On #{Date.parse(date).strftime("%d %b %Y")}, #{name} result was #{result}." %></p>
      <% end %>
    <% end %>  

</article>
