<% if user_signed_in? %>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div id="tabs" class="main-content">
  <h1>Blood Tests Summary</h1>
  <ul>
  <% @headers.each_with_index do |header, i| %>
    <li><a href="#<%= @methods[i] %>"><%= header %></a></li>
  <% end %>
  </ul>
  <% @methods.each do |method| %>
    <div id="<%= method %>">
      <p><%= render "graphs", blood_name: method, blood_range: @ranges[method] %></p>
    </div>
  <% end %>
</div>
<section class="main-content">
  <h1>Moodiness</h1>
  You are feeling positive <%= positive_percentage %>% of the time.
  You are feeling neutral <%= neutral_percentage %>% of the time.
  You are feeling negative <%= negative_percentage %>% of the time.
</section>
<%= render 'moves' %>

<section class="diary">
  <h1>Diary</h1>
  <section>
    <% @dangerous_blood_tests_by_date.each do |result| %>
    <article>
      <h2><%= result['taken_on'] %></h2>
      <p>
      I had a <%= link_to "bloodtest", "/blood-tests/#{result['id']}" %> today.<br>
      <% if result.length > 2 %>
        <%= result.length == 3 ? "This was" : "These were" %> out of range:<br>
        <% @methods.each do |method| %>
          <%= "#{@legend[method]["fullname"]}: #{result[method]}" if result[method] != nil %>
        <% end %>
      <% else %>
        Everything was within range.
      <% end %>
      </p>
    </article>  
    <% end %>
  </section>
</section>

<% else %>
<h1>Welcome to Somatra!</h1>
<h2>To start your new healthy life, please <%= link_to "sign up", new_user_registration_path %>.</h2>
<% end %>
