<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div id="tabs" class="main-content">
  <h1>Blood Tests Summary</h1>
  <ul>
  <% @headers.each_with_index do |header, i| %>
    <li><a href="#<%= @methods[i] %>"><%= header %></a></li>
  <% end %>
  </ul>
  <% @methods.each do |method| %>
    <div id="<%= method %>">
      <p><%= render "graphs", blood_name: method, blood_range: @ranges[method] %></p>
    </div>
  <% end %>
</div>

<%= render 'moves' %>
<section class="diary">
  <h1>Diary</h1>
  <section>
    <% @dangerous_blood_tests_by_date.each do |result| %>
      <article>
        <h2><%= result['taken_on'] %></h2>
        <p>I had a <%= link_to "bloodtest", "/blood-tests/#{result['id']}" %> today.<br>
        <% @methods.each do |method| %>
          <%= "My #{method} result (#{result[method]}) is out of range." if result[method] != nil %>
        <% end %></p>
      </article>
    <% end %>
  </section>
</section>
