<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div id="tabs" class="main-content">
  <ul>
  <% @headers.each_with_index do |header, i| %>
    <li><a href="#<%= @methods[i] %>"><%= header %></a></li>
  <% end %>
  </ul>
  <% @methods.each do |method| %>
    <div id="<%= method %>">
      <p><%= render "graphs", blood_name: method, blood_range: @ranges[method] %></p>
    </div>
  <% end %>
</div>
<%= render 'moves' %>